<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">

    <title>Imageboard</title>
</head>
<link href="/custom.css" rel="stylesheet">
<body>
<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="/m">
            <img src="/title.png" alt="..." height="75"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
<!--            <ul class="navbar-nav">-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="#">xd</a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="#">xdd</a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="#">xddd</a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="#">xdddd</a>-->
<!--                </li>-->
<!--            </ul>-->
        </div>
    </div>
</nav>

<div class="container mt-4">
    <div class="row">
        <a th:href="@{'/m/user-login'}">[Login]</a>
        <div class="card mb-4">Logged as: <span sec:authentication="name"></span></div>

        <form th:action="@{/logout}" method="post">
            <input type="submit" class="btn btn-primary" value="Sign Out"/>
        </form>


        <div class="col-md-12 text-center">
            <a th:href="@{'/m/newthread'}" class="btn btn-primary">Start new thread</a>
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-8-center">
            <div class="card mb-4" data-level="1" th:each="thread : ${threads}">
                <div class="card-body">
                    <a th:href="@{'/m/thread/' + ${thread.id}}">
                        <h4 class="card-title" th:text="${thread.title}">Thread Title 1</h4></a>
                    <div class="thread-info">
                        <span th:text="'Date: ' + ${#temporals.format(thread.replies[0].date, 'dd/MMM/yyyy HH:mm:ss')}"></span>
                        <br/>
                        <span class="thread-id" th:text="'No.'+ ${thread.replies[0].getId()}">ID</span>
                        <br/>
                        <span class="ri" th:text="'R:'+ ${thread.replies.size()-1} + '/I:' +
                        ${thread.getRepliesWithImage().size()}"></span>
                    </div>

                    <h6 th:text="${thread.replies[0].name}">Author Name 1</h6>
                    <img class="thread-image" th:src="${thread.replies[0].getImgURL()}" alt="Sample Image"
                         th:if="${thread.replies[0].getImgURL() != null && thread.replies[0].getImgURL() != ''}">
                    <p class="card-text" th:text="${thread.replies[0].description}">Thread Description</p>

                    <div class="card mb-4" th:each="reply,stats: ${thread.replies}"
                         th:if="${reply != thread.replies[0] && stats.index &lt; 4}">
                        <div class="card-body">
                            <div class="thread-info">
                                <span th:text="'Date: ' + ${#temporals.format(reply.date, 'dd/MMM/yyyy HH:mm:ss')}"></span>
                                <br/>
                                <span class="thread-id" th:text="'No.'+ ${reply.id}">ID</span>
                            </div>
                            <h6  th:text="${reply.name}">Author Name</h6>
                            <img class="reply-image" th:src="${reply.imgURL}" alt="Answer Image" src="#"
                                 th:if="${reply.getImgURL() != null && reply.getImgURL() != ''}">
                            <p class="card-text" th:text="${reply.description}">Answer Description 1</p>
                        </div>
                    </div>
                </div>
                <a th:href="@{'/m/thread/' + ${thread.id}}" class="btn btn-primary reply-button-index">Reply</a>
            </div>
        </div>
    </div>
</div>

<nav class="mt-4">
    <ul class="pagination justify-content-center">
        <li class="page-item"
            th:each="i,stat: ${#numbers.sequence(0,threadCount/10)}">
            <a class="page-link" th:href="'/m/page/' + ${stat.index+1}" th:text="${stat.index + 1}">1</a>
        </li>
    </ul>
    <div class="col-md-12 text-center">
        <a th:href="@{'/m/catalog'}" class="btn btn-primary">Catalog</a>
    </div>
</nav>


<footer class="bg-dark text-white text-center py-3 mt-5">
    Mikuboard &copy; 2023
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
