<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
    <title>Selected Thread - Imageboard</title>
    <link href="/custom.css" rel="stylesheet">
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<body class="d-flex flex-column min-vh-100" th:data-archived="${thread.isArchived ? 1:0 }">
<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="/m">
            <img src="/title.png" alt="..." height="75"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <!--            <ul class="navbar-nav">-->
            <!--                <li class="nav-item">-->
            <!--                    <a class="nav-link" href="#">xd</a>-->
            <!--                </li>-->
            <!--                <li class="nav-item">-->
            <!--                    <a class="nav-link" href="#">xdd</a>-->
            <!--                </li>-->
            <!--                <li class="nav-item">-->
            <!--                    <a class="nav-link" href="#">xddd</a>-->
            <!--                </li>-->
            <!--                <li class="nav-item">-->
            <!--                    <a class="nav-link" href="#">xdddd</a>-->
            <!--                </li>-->
            <!--            </ul>-->
        </div>
    </div>
</nav>

<div class="container mt-4 mt-4 flex-grow-1">
    <div class="card mb-4" id="replyBox">
        <div class="card-body">
            <form method="post" th:action="${'/m/submit/' + thread.id}" enctype="multipart/form-data" th:object="${replyData}">
                <div class="mb-3">
                    <label for="nameInput" class="form-label">Name</label>
                    <input name="name" type="text" class="form-control" id="nameInput" placeholder="Your Name">
                </div>
                <div class="mb-3">
                    <label for="descriptionInput" class="form-label">Description</label>
                    <textarea name="description" class="form-control" id="descriptionInput" rows="3"
                              placeholder="Reply Description"></textarea>
                    <span th:data-error="${desc_error}" class="error-text" th:text="${desc_error}"></span>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Upload Image</label>
                    <input type="file" name="imgFile" class="form-control" id="image">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 flex-grow-1">

            <div class="col-md-12 text-center">
                <a class="btn btn-primary reply-button-index" id="replyButton">Reply</a>
            </div>

            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title" th:text="${thread.title}">Thread Title</h5>
                    <div class="thread-info">
                        <span th:text="'Date: ' + ${#temporals.format(thread.replies[0].date, 'dd/MMM/yyyy HH:mm:ss')}"></span>
                        <br/>
                        <span class="thread-id" th:text="'No.'+ ${thread.replies[0].getId()}">ID</span>
                        <br/>
                        <span class="ri" th:text="'R:'+ ${thread.replies.size()-1} + '/I:' +
                        ${thread.getRepliesWithImage().size()}"></span>
                        <br/>
                        <span class="page" th:text="'Page: ' + ${pageNumber}"></span>
                    </div>
                    <img class="thread-image" th:src="${thread.replies[0].getImgURL()}" alt="Sample Image"
                         th:if="${thread.replies[0].getImgURL() != null && thread.replies[0].getImgURL().endsWith('.jpg')}" src="">
                    <video controls class="thread-video" th:src="${thread.replies[0].getImgURL()}"
                           th:if="${thread.replies[0].getImgURL() != null && (thread.replies[0].getImgURL().endsWith('.webm')
                         || thread.replies[0].getImgURL().endsWith('.mp4') || thread.replies[0].getImgURL().endsWith('.mov'))}" src=""></video>
                    <p class="card-text" th:text="${thread.replies[0].getDescription()}">Thread Description</p>
                </div>
            </div>
            <div class="col-md-12">
                <button th:data-threadID="${thread.id}" id="thread-delete-button" class="btn btn-primary delete-button-index" sec:authorize="isAuthenticated()">Delete</button>
                <h2 class="text-center bare-text">Replies</h2>
                <div class="row">
                        <div class="card mb-4" th:each="reply,stats: ${thread.replies}"
                             th:if="${reply != thread.replies[0] && stats.index &lt; 4}">
                            <div class="card-body">
                                <div class="thread-info">
                                    <span th:text="'Date: ' + ${#temporals.format(reply.date, 'dd/MMM/yyyy HH:mm:ss')}"></span>
                                    <span class="thread-id" th:text="'No.'+ ${reply.id}">ID</span>
                                    <button th:data-replyID="${reply.id}" id="reply-delete-button"
                                            class="btn btn-primary delete-button-threadpage"
                                            sec:authorize="isAuthenticated()">
                                        Delete
                                    </button>
                                </div>
                                <h6 th:text="${reply.name}">Author Name</h6>
                                <img class="reply-image" th:src="${reply.getImgURL()}" alt="Sample Image"
                                     th:if="${reply.getImgURL() != null && reply.getImgURL().endsWith('.jpg')}" src="">
                                <video controls class="reply-video" th:src="${reply.getImgURL()}"
                                       th:if="${reply.getImgURL() != null && (reply.getImgURL().endsWith('.webm')
                         || reply.getImgURL().endsWith('.mp4') || reply.getImgURL().endsWith('.mov'))}" src=""></video>
                                <p class="card-text" th:text="${reply.description}">Answer Description 1</p>
                            </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<footer class="bg-dark text-white text-center py-3 mt-5">
    Mikuboard &copy; 2023
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
<script src="/ThreadPage.js"></script>

</body>

</html>