<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
    <title>Selected Thread - Imageboard</title>
    <link href="/custom.css" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="/m">
            <img src="/title.png" alt="..." height="75"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <!--            <ul class="navbar-nav">-->
            <!--                <li class="nav-item">-->
            <!--                    <a class="nav-link" href="#">xd</a>-->
            <!--                </li>-->
            <!--                <li class="nav-item">-->
            <!--                    <a class="nav-link" href="#">xdd</a>-->
            <!--                </li>-->
            <!--                <li class="nav-item">-->
            <!--                    <a class="nav-link" href="#">xddd</a>-->
            <!--                </li>-->
            <!--                <li class="nav-item">-->
            <!--                    <a class="nav-link" href="#">xdddd</a>-->
            <!--                </li>-->
            <!--            </ul>-->
        </div>
    </div>
</nav>

    <div class="container mt-4">
        <div class="card mb-4"  id="replyBox">
            <div class="card-body">
                <form method="post" th:action="${'/m/submit/' + thread.id}" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="nameInput" class="form-label">Name</label>
                        <input name="name" type="text" class="form-control" id="nameInput" placeholder="Your Name">
                    </div>
                    <div class="mb-3">
                        <label for="descriptionInput" class="form-label">Description</label>
                        <textarea name="description" class="form-control" id="descriptionInput" rows="3"
                                  placeholder="Reply Description"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="image" class="form-label">Upload Image</label>
                        <input type="file" name="imgFile" class="form-control" id="image">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>

    <div class="row">
        <div class="col-md-6 offset-md-3">

            <div class="col-md-12 text-center">
                <a class="btn btn-primary" id="replyButton">Reply</a>
            </div>

            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title" th:text="${thread.title}">Thread Title</h5>
                    <div class="thread-info">
                        <span class="thread-id" th:text="'No.'+ ${thread.replies[0].getId()}">ID</span>
                        <span class="ri" th:text="'R:'+ ${thread.replies.size()-1} + '/I:' +
                        ${thread.getRepliesWithImage().size()}"></span>
                        <span th:text="'Date: ' + ${#temporals.format(thread.replies[0].date, 'dd/MMM/yyyy HH:mm:ss')}"></span>
                    </div>
                    <img class="thread-image" th:src="${thread.replies[0].getImgURL()}" alt="Sample Image"
                         th:if="${thread.replies[0].getImgURL() != null && thread.replies[0].getImgURL() != ''}">
                    <p class="card-text" th:text="${thread.replies[0].getDescription()}">Thread Description</p>
                </div>
            </div>

            <h3>Replies</h3>
            <div class="card mb-4" th:each="reply : ${thread.replies}" th:if="${reply != thread.replies[0]}">
                <div class="card-body">
                    <div class="thread-info">
                        <span class="thread-id" th:text="${reply.id}">ID</span>
                        <span th:text="'Date: ' + ${#temporals.format(reply.date, 'dd/MMM/yyyy HH:mm:ss')}"></span>
                    </div>
                    <h5 class="card-title" th:text="${reply.name}">Author Name 1</h5>
                    <img class="reply-image" th:src="${reply.imgURL}" alt="Answer Image" src="#"
                         th:if="${reply.getImgURL() != null && reply.getImgURL() != ''}">
                    <p class="card-text" th:text="${reply.description}">Answer Description 1</p>
                </div>
            </div>

        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
<script>
    const targetDiv = document.getElementById("replyBox");
    const btn = document.getElementById("replyButton");
    targetDiv.style.display = "none";

    btn.onclick = function () {
        if (targetDiv.style.display !== "none") {
            targetDiv.style.display = "none";
        } else {
            btn.style.display ="none";
            targetDiv.style.display = "block";
        }
    };
</script>
</body>

</html>